body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;

    width: 600px;
}

div{
    margin: 0;
    padding: 0;
}

button{
    background: rgba(0,0,0,0);
    width: 40px;
    height: 40px;
    font-weight: bold;
    border: #000 2px solid;

    padding: 0px;
    margin: 0px;

    display: inline-block;
    outline: none;
}

.header{
    width: 100%;

    background-color: darkseagreen;
}

.year-container,
.week-container,
.settings-container,
.week{
    display: inline-block;
    text-align:center;
    font-size:24px;
}

.year-container{
    width: 25%;
}

.week-container{
    width: 50%;
}

.settings-container{
    width: 25%;
}

.body-container{
    background-color: white;
}

.day-container{
    height: 40px;
    display: inline-block;
}

.day-of-week-container,
.time-container{
    display: inline-block;
    line-height: 40px;
}

.day-of-week-container{
    width: 60px;
    height: 40px;
    text-align: center;
}

.day-of-week-text{
    font-weight: bold;
}

.time-container{
    vertical-align: middle;
}

.time{
    width: 16px;
    height: 16px;
    margin: 0px 2px 0px 2px;
    background-color: #ebedf0;
    border:1px solid #DDD;
    box-shadow: 0 0 0 1px rgba(27,31,35,.04);
    border-radius: 2px;
    display: inline-block;
}