.time-body{
    display: flex;

    height: 100%;
}

.left{
    border-right: 1px solid #DDD;

    padding-top: 40px;
}

.left, .right{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.start-time,
.end-time,
.type{
    display: flex;
    
    align-items: center;
    height: 50px;
}

.start-time-span,
.end-time-span,
.type-span{
    display: block;
    text-align: right;
    box-sizing: border-box;
    padding-right: 16px;
    width: 80px;
}

.start-time-input,
.end-time-input{
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    border-radius: 4px;

    background-color: #FFF;
}

.end-time-input::-webkit-outer-spin-button,
.end-time-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.right .contents-span{
    display: block;
    text-align: left;

    margin: 16px;
}

.right .contents-textarea{
    width: 220px;
    height: 250px;
    resize: none;

    box-sizing: border-box;
    border: 1px solid #DDD;
    border-radius: 4px;

    background-color: #FFF;
}